[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/02_vars_mks.git
[submodule "https:/github.com/mks65/02_vars.git"]
	path = https:/github.com/mks65/02_vars.git
	url = https://github.com/madelynxmao/work-test.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/hathawayMay.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/02_vars_mkJ.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/yeCul.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/zhangAle
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_02_vars.git
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/02_vars.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/work-test.git
