[submodule "hernandezcCar"]
	path = hernandezcCar
	url = git@github.com:KarlWithK/02_vars_mks.git
[submodule "zhouKelly"]
	path = zhouKelly
	url = https://github.com/KellyZhou223/zhouKelly
[submodule "siuVictor"]
	path = siuVictor
	url = git@github.com:vs2961/02_vars_vs.git
