[submodule "hernandezcCar"]
	path = hernandezcCar
	url = git@github.com:KarlWithK/02_vars_mks.git
[submodule "zhouKelly"]
	path = zhouKelly
	url = https://github.com/KellyZhou223/zhouKelly
[submodule "siuVictor"]
	path = siuVictor
	url = git@github.com:vs2961/02_vars_vs.git
[submodule "ku-benjetJeremy"]
	path = ku-benjetJeremy
	url = https://github.com/jku20/mk65_02_vars.git
[submodule "https:/github.com/mks65/02_vars.git"]
	path = https:/github.com/mks65/02_vars.git
	url = https://github.com/madelynxmao/work-test.git
[submodule "MaoMadelyn"]
	path = MaoMadelyn
	url = https://github.com/madelynxmao/work-test.git
[submodule "jiangVincent"]
	path = jiangVincent
	url = https://github.com/vjiang10/work-test.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/hathawayMay.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/02_vars_mkJ.git
[submodule "ahmedTahsin"]
	path = ahmedTahsin
	url = https://github.com/TahsinAhmed13/02_vars.git
